.top {
    display: flex;
    height: 330px;
    width: 450px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.descDiv {
    width: 300px;
}

.item_div{
    width: 100px;
}
.players {
    overflow: scroll;
    width: 100px;
    height: 100px;
    /* justify-content: center; */
    /* margin: 0px 0px 0px 250px; */
}


.bottom {
    margin: 0px 0px 0px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 300px;
}

    .statusButton {
        width: 150px;
        height: 20px;
        margin: 50px 50px 0px 100px;
    }
