.mainNav {
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}
    .mainNavElement {
        margin: 0px 20px 0px 20px;
    }
    .mainNavElementButton {
        margin: 0px 20px 0px 20px;

    }